@font-face {
    font-family: coves;
    src: url(../font/Coves.otf);
}

.content{
    background-color: #1b1b1b;
}

.p4top{
    height: 40vh;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.p4top1{
    flex: 1;
}

.p4top h1 span {
    color:white;
    margin-right: -0.2em;
    transition: 0.5s ease;
}
.p4top h1:hover span {
    margin-right: 0.25em;
}

.p4top h1:hover span:nth-child(11):after{
    content: ".";
    color: #ff0000;
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 40px #ff0000, 0 0 80px #ff0000, 0 0 120px #ff0000, 0 0 160px #ff0000;
    animation: animate 5s linear infinite;
}

.p4mid{
    height: 50vh;
    justify-content: space-around;
    align-items: center;
    display: block;
    font-size: 0.5em;
}

.p4mid ul li{
    padding: 3em;
    display: inline-block;
    color: white;
}

.p4mid ul li i{
    margin-bottom: 0.25em;
}



.p4mid ul li a{
    display: inline-block;
    color: white;
    transition: 0.25s ease;
}
.p4mid ul li a span {
    font-family: coves;
}


.p4mid ul li a:hover{
    transform: scale(0.95);
    color: #ddd;    
}

.p4mid ul li a .contactlink{
    padding: 0.5em;
    
}



.box{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
}

.labpiccontainer {
    display: block;
    border: solid white 1px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    position: relative;
    width: 50%;
    
}


.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1b1b1b;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: .5s ease;
}

.labpiccontainer:hover .overlay {
    width: 0%;
}

div.text {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

/* edited to redeploy from previous failure */












@media (max-width: 930px){
    .p4top{
        font-size: smaller;
        height: 50vh;
    }

    .p4top h1 span {
        font-size: 0.8em;
        color:white;
        margin-right: -0.25em;
        transition: 0.5s ease;
    }

    .p4top h1:hover span {
        font-size: 0.6em;
        margin-right: -8px;
        
    }

    .p4top h1:hover span:nth-child(11):after{
        content: ".";
        color: #ff0000;
        animation: animate 5s linear infinite;
    }

    .p4mid{
        height: 100%;
    }

    .p4bottom iframe{
        width: 100%;
        padding-bottom: 0.5em;
    }

    .box{
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 50%;
    }

    div.text{
        font-size: 10px;
    }
    .labpiccontainer{
        justify-content: center;
        align-items: center;
        display: block;
        /* border: solid white 1px; */
        width: 90%;
    }

  
}

@media (max-width: 400px) {
    .p4top h1 span {
        font-size: 0.5em;
        color: white;
        margin-right: -0.5em;
        transition: 0.5s ease;
    }

    .p4top h1:hover span {
        font-size: 0.3em;
        margin-right: -8px;
    }
}