footer.footer {
    background-color: #1b1b1b;
    line-height: 2rem;
    top: 100%;
    width: 100%;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    font-size: 1rem;
    font-weight: normal; 
}


.quicklink a, .quicklink a:visited {
    border-radius: 5px;
    color: #fff;
    padding: 0.5rem;
    transition: all 0.5s;
}


.quicklink a:hover {
    background-color: #fff;
    color: #1b1b1b;
}

@media (max-width: 930px){
    footer.footer{
        font-size: 10px;
    }
}

