@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.wrapper {
    max-width: 1140px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: raleway, sans-serif;
}

@font-face {
    font-family: aldo;
    src: url(../font/AldotheApache.ttf);
}

@font-face {
    font-family: raleway;
    src: url(../font/Raleway.ttf);
}

@font-face {
    font-family: coves;
    src: url(../font/Coves.otf);
}

/* hero */
.flexbox{
    box-sizing: border-box;
    background-color: #1b1b1b;
    clip-path: ellipse(150% 100% at 50% 0%);
}

*, *:before, *:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #fff;
    background-size: cover;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
}

.sr-only {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
}

.content {
    letter-spacing: 1px;
    min-height: 100vh;
    overflow: auto;
    text-align: center;
    width: 100%;
    color: #1b1b1b;
    font-size: 40px;
    font-weight: 700;
}

.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #fff;
    background-color: #2fa0f6;
    min-width: 120px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-align: center;
}

.button svg {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    fill: #fff;
}

.button span {
    display: none;
}

.welcometext {
    color: white;
    letter-spacing: 1.5px;
    line-height: 1.5em;
}

/* big screen  */

@media (min-width: 931px) {
    .hiddentext{
        display: none;
    }
    .flexbox {
        justify-content: space-around;
        height: 100vh;
        display: flex;
        align-items: center;
        
    }
    .flexboxbefore2{
        justify-content: space-around;
        height: 100vh;
        display: flex;
        align-items: center;
        
    }
    .before2-1{
        flex: 1;
        font-weight: lighter;
    }
    .before2-2{
        border-left: solid 2px #1b1b1b;
        border-right: solid 2px #1b1b1b;
        flex: 1;
        font-weight: lighter;
    }
    .before2-3{
        flex: 1;
        font-weight: lighter;
    }

    .flexbox2{
        box-sizing: border-box;
        background-color: #1b1b1b;
        clip-path: ellipse(150% 100% at 50% 100%);
        justify-content: space-around;
        height: 100vh;
        display: flex;
        align-items: center;
        
    }
    .topright {
        flex: 1;
        font-weight: lighter;
    }
    .topleft {
        height: 100%;
        width: 100%;
        background-size: 40rem;
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 40%;
        background-image: url(../pic/Wactuallycircleme.png);
        flex: 1;
    }

    .midright{
        text-align: center;
        color: white;
        line-height: 2em;
        flex: 1;
        font-weight: lighter;
        font-size: 0.5em;
    }

    .midleft{
        border-right: solid white 2px;
        color: white;
        flex: 1;
    }


    img.mypic {
        border: ridge 10px;
        margin: 0;
        padding: 0;
        width: 20em;
    }
}




/* smol screen  */

@media (max-width: 930px) {
    .hiddentext{
        position: relative;
        transform: translateY(55vh)
    }

    .flexbox {
        font-size: 0.8em;
        overflow: hidden;
        justify-content: space-around;
        height: 80vh;
        display: block;
        align-items: center;
        
    }
    .flexboxbefore2{
        overflow: hidden;
        padding: 2em 0;
        justify-content: space-around;
        height: 30%;
        display: block;
        align-items: center;
        
    }
    .before2-1{
        padding: 1em;
        font-size: smaller;
        font-weight: lighter;
    }
    .before2-2{
        padding: 1em;
        font-size: smaller;
        font-weight: lighter;
    }
    .before2-3{
        padding: 1em;
        font-size: smaller;
        font-weight: lighter;
    }

    .flexbox2{
        overflow: hidden;
        box-sizing: border-box;
        background-color: #1b1b1b;
        clip-path: ellipse(150% 100% at 50% 100%);
        justify-content: space-around;
        height: 100%;
        display: flex;
        align-items: center;
        
    }
    .topright {
        display: none;
        font-weight: lighter;
    }
    .topleft {
        height: 100%;
        width: 100%;
        background-size: 55%;
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 5vh;
        background-image: url(../pic/Wactuallycircleme.png);
        flex: 1;
    }

    .midright{
        padding: 1rem;
        color: white;
        line-height: 2em;
        flex: 1;
        font-weight: lighter;
        font-size: 0.3em;
    }

    .midleft{
        padding: 1rem;
        border-right: solid white 2px;
        color: white;
        flex: 1;
        font-weight: lighter;
        font-size: 0.4em;
    }
}

.button--icon {
    min-width: initial;
    padding: 0.5rem;
}

div.wrapper li {
    list-style-type: none;
}

p {
    margin: 1rem;
}

a.typewrite{
    pointer-events: none;
}


::-webkit-scrollbar{
    width: 0;
}

#progressbar{
    position: fixed;
    top:0;
    right:0;
    width: 3px;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
}

@keyframes animate{
    0%, 100%{
        filter: hue-rotate(0deg);
    }

    50%{
        filter: hue-rotate(360deg);
    }
}


#progressbar:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
}

#progressbar::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);

}
