.container-content {
    margin-top: 5%;
}

.container-content .row .col-sm p {
    text-indent: 3rem;
}

.container-content .row .col-sm {
    padding: 4rem;
}

table, td, th {
    text-align: center;
    padding: 0.5rem;
    border: 1px solid black;
}

td, th {
    width: fit-content;
}

td:hover, th:hover {
    padding: 0.5rem;
    border: 1px solid black;
    background-color: #dddddd;
    color: black;
}

table {
    border-collapse: collapse;
}

li.admissionlink {
    list-style-type: none;
}