* {
    font-family: 'IBM Plex Sans Thai', sans-serif;
}


*:focus {
    outline: none;
}

.container {}

.wel-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5%;
}

.homepage {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
}

.col-sm {
    width: 400px;
    height: 360px;
    position: relative;
}

.image {
    background-size: cover;
    width: 300px;
    height: 300px;
    /* filter: blur(2px); */
    margin-left: auto;
    margin-right: auto;
}

.image1 {
    background-image: url("../img/quicklink_1.jpg");
}

.image2 {
    background-image: url("../img/quicklink_6.jpg");
}

.image3 {
    background-image: url("../img/quicklink_5.jpg");
}

.image4 {
    background-image: url("../img/quicklink_4.jpg");
}


.hello {
    position: absolute;
    top: 35%;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0 3px 10px rgb(0, 0, 0, 0.7);
}
