.container-content {
    margin-top: 5%;
}

.container-content .row .col-sm p{
    text-indent: 3rem;
}

.container-content .row .col-sm {
    padding: 4rem;
}



a#research_entersite{
    padding: 0.5rem;
    background-color: #f2f2f2;
    border-radius: 7px;
    border: solid #f2f2f2 1px;
}

#research_entersite{
    margin: 20px;
}
a#research_entersite:hover{
    background-color: #d1d1d1;
    border: solid #d1d1d1 1px;
}



img#negistda{
    margin-top: 1rem;
    width: 50vw;
    margin-right: 2rem;

}