.container-slide {
    width: 100vw;
    padding-top: 70px;
    height: 100vh;
    top: 70px;
    overflow: hidden;
    z-index: 0;
}

.wrapper-slide {
    height: 100%;
    display: flex;
    transition: all 1.5s ease;
    flex-direction: row;
}

.img-container {
    height: 100%;
    width: 100%;
}

.img-slide {
    width: 100vw;
    height: 100%;
}

.arrow {
    font-size: 3em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    transition: 0.3s;
    z-index: 3;
    height: max-content;
    color: rgb(255, 255, 255, 0.7);
}

.arrow:hover {
    transform: scale(1.3);
}

.arrow-left {
    left: 15px;
    z-index: 3;
}

.arrow-right {
    right: 15px;
    z-index: 3;
}

