body{
    font-family: serif;
    margin: 0;
    padding: 0;
}

div{
    
    margin-top: 5%;
}
#greenheading{
    
    background-color: lightgreen;
    box-shadow: 0px 5px darkgreen;
    font-weight: bold;
    /*max-width: 1000px;*/
    
    
}

#thisisparared{
    border: solid red 5px;
    color: red;
}

#thisisparabruh{
    color: red;
    border-top: double blue 5px;
    border-right: groove red 5px;
    border-bottom: dashed gold 15px;
    border-left: ridge green 5px;
}

.ex2{
    padding: auto;
    text-align: center;
}
#headingInEX2{
    width: 1000px;
    text-align: center;
    max-width: fit-content;
 
    margin-top:10%;
    margin-bottom:10%;
    margin-left:30%;
    margin-right:30%;
    background-color: lightblue;
}

#ironmanP{
    text-align: center;
    background-color: yellow;
    border: solid red 5px;
    color: red;
}


#bluebox{
    border: solid blue 15px;
    padding: 3%;
    font-weight: bold;

}

#greenbox{
    padding: 3%;
    font-weight: bold;
    background-color: lightgreen;
    border-radius: 15%;

}

.boxmdl23{
    margin: 1%;
    display: inline-block;
    padding: 1% 3% 1% 1%;
    background-color: #f2f2f2;
    border: solid grey 15px;
}

#boxmdl0{
    margin: 1%;
    display: inline-block;
    padding: 1% 3% 1% 1%;
    background-color: #f2f2f2;
    border: solid lightskyblue 15px;
}


